<?xml version="1.0"?>

<launch>
  
  <node pkg="hector_driving_aid_markers" type="hector_driving_aid_markers_node" name="hector_driving_aid_markers" output="screen">
    <param name="left_side_y_outer" value="0.211"/> 0.4219 0.0825
    <param name="left_side_y_inner" value="0.13"/>
    <param name="right_side_y_outer" value="-0.211"/>
    <param name="right_side_y_inner" value="-0.13"/>
    <param name="offset_z" value="-0.075"/>
    <param name="publish_period" value="0.01"/>
  </node>
  
</launch>
